body {
  height: 100%;
}

html {
    background-image: url('image/Mainbackground.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.eens {
    background-color:rgb(44, 218, 44);
}

.gvb {
    background-color:honeydew;
}

.oneens {
    background-color:red;
}

.hidden {
    display: none;
}

.stem {
    color:blue;
}

#stemwijzer {
    font-weight: bold;
}

#startContainer {
    text-align: center;
    background-color:white;
    margin: 0rem, 5rem, 5rem, 5rem;
    padding-bottom: 3rem;
    border-radius: 5px;
}

.container {
    text-align: center;
    background-color:white;
    margin: 0rem, 5rem, 5rem, 5rem;
    padding-bottom: 3rem;
}
